= render partial: "notifications"
.row
  .col-12
    %h2.text-center
      =t("labels.pizzas_list")
      %br
      %br

.row
  .col-12
    %a.btn.btn-success{href: "#{new_user_pizza_path(current_user)}", role: "button", 'data-toggle': "tooltip", 'data-placement': "top", 'title': t("labels.create_a_new_pizza") }
      %i.fa.fa-pizza-slice
      = t("labels.new_pizza")

.row
  .col-12
    %table.table.table-striped
      %thead
        %tr
          %th{:scope => "col", :width => "20%"}=t("activerecord.attributes.pizza.name")
          %th{:scope => "col", :width => "15%"}=t("activerecord.attributes.pizza.size_id")
          %th{:scope => "col", :width => "10%"}=t("activerecord.attributes.pizza.specialty_id")
          %th{:scope => "col", :width => "25%"}=t("activerecord.attributes.pizza.ingredients")
          %th{:scope => "col", :width => "15%"}=t("activerecord.attributes.pizza.price")
          %th{:scope => "col", :width => "5%"}
        %tbody
          - @pizzas.each do |pizza|
            %tr
              %td
                =pizza.name
              %td
                =pizza.size ? pizza.size.name : ''
              %td
                =pizza.specialty_including_deleted ? pizza.specialty_including_deleted.name : 'Personalizada'
              %td
                = pizza.ingredients.with_deleted.any? ? pizza.ingredient_names : ""
              %td
                = number_to_currency(pizza.price_final, locale: :en)
              %td
                .btn-group
                  %a.btn.btn-outline-info{href: "#{user_line_items_path(current_user, pizza_id: pizza)}", 'data-method': "post", role: "button", 'data-toggle': "tooltip", 'data-placement': "top", 'title': t("labels.buy_this_pizza", pizza_name: pizza.name) }
                    %i.fa.fa-dollar-sign
                  %a.btn.btn-outline-primary{href: "#{edit_user_pizza_path(current_user, pizza)}", role: "button", 'data-toggle': "tooltip", 'data-placement': "top", 'title': t("labels.edit_this_pizza", pizza_name: pizza.name) }
                    %i.fa.fa-pencil-alt
                  %a.btn.btn-outline-danger{href: "#{user_pizza_path(current_user, pizza)}", 'data-method': "delete", :role => "button", 'data-toggle': "tooltip", 'data-placement': "top", 'title': t("labels.delete_this_pizza", pizza_name: pizza.name) }
                    %i.fa.fa-backspace
