!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pizzapp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'



  %body
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.navbar-static-top

      %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{:href => "/"}
              t("labels.begin")
              %span.sr-only (current)
          %li.nav-item.dropdown
            %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"} t("labels.menu")
            .dropdown-menu{"aria-labelledby" => "dropdown01"}
              - if current_user
                %a.dropdown-item{:href => "#{user_pizzas_url(current_user)}"} t("labels.mypizzas")
                %a.dropdown-item{:href => "#{user_orders_url(current_user)}"} t("labels.myorders")
                %a.dropdown-item{:href => "#{user_branches_url(current_user)}"} t("labels.branches")
                %a.dropdown-item{:href => "#{destroy_user_session_url}", :'data-method' => "delete"} t("labels.exit")
              - else
                %a.dropdown-item{:href => "#{new_user_session_url}"} Iniciar sesión

        - if current_user
          %ul.navbar-nav.float-left
            %li.nav-item.active
              %a.nav-link{:href => "#{user_cart_url(current_user, @current_cart)}"}
                %i.fa.fa-shopping-cart
                = number_to_currency(@current_cart.sub_total, locale: :en)

        = link_to image_tag("spain-icon.png"), "?locale=es"
        = link_to image_tag("usa-icon.png"), "?locale=en"
        -#= link_to image_tag("france-icon.png"), "?locale=fr"


    %main.mt-5.container{:role => "main"}
      .starter-template
        = yield
